<%= turbo_frame_tag :messenger do %>
  <div class="list-message-wrap">
    <h4><%= (user || room).send(:name) %></h4>
    <div class="list-message" data-controller="scroll">
      <%= turbo_stream_from channel, target: channel %>
      <%= turbo_frame_tag :messages, data: { action: "DOMNodeInserted->scroll#scrollToBottom" } do %>
        <%= render messages %>
      <% end %>
    </div>

    <%= render 'messages/message_form', user: user, room: room %>
  </div>
<% end %>
