<% if user_signed_in? %>

  <h2>Users</h2>

  <div data-controller="active-item">
    <div class="list-group">
      <%= render @users %>
    </div>
    <br />

    <div data-controller="room">
      <h2>Rooms</h2>
      <div class="new-room">
        <%= render '/rooms/form' %>
      </div>

      <div class="list-rooms" data-room-target="list">
        <%= turbo_frame_tag :rooms, class: "list-group" do %>
          <%= render @rooms %>
        <% end %>
      </div>
    </div>

    <%= turbo_frame_tag :messenger do %>
      <span data-active-item-target="header" data-value="first"></span>
    <% end %>
  </div>
<% end %>
